version: '3.8'

services:
  ArmRL:
    image:  cyqian97/cudagl:11.4.1-runtime-ubuntu20.04
    container_name: armrl
    privileged: true
    network_mode: host
    stdin_open: true
    tty: true
    shm_size: 128G
    environment:
      # - DISPLAY=${DISPLAY}
      - NVIDIA_VISIBLE_DEVICES=all
      - NVIDIA_DRIVER_CAPABILITIES=all
    devices:
      - /dev/dri:/dev/dri
    volumes:
      - /mnt/VOL3/fangzhou/chengyuan/:/root/chengyuan
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [gpu]
    command: bash